.App {
  text-align: center;
  background-color: rgb(133, 206, 255);
}

.Main-Page {
  background-image: url("images/bg.jpeg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 50%;
  width: 100%;
  height: 100%;
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #98d2e2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

#allTracks{
  display: none;
}